<div class="container" ng-controller="gameController">
    <!--轮播图-->
    <div class="focusimg clearfix small-banner">
        <div class="slides-box">
            <ul class="slides">
                <li style="background-image: url('./img/green-banner.jpg')">
                    <div class="li-text">
                        <h2 class="text-title border-left">游戏中心</h2>
                        <p>Game Center</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>


    <!--游戏板块-->
    <div class="home-game">
        <div class="margin">
            <div class="title" >
                <!--<span>游戏下载</span>-->
            </div>

            <!--<div class="row-wrap">
                <a ui-sref="download_hn">
                    <img src="./img/home-hn.png" alt="" height="215">
                </a>
                <a ui-sref="download_gd">
                    <img src="./img/home-gd.png" alt="" height="215">
                </a>
            </div>-->
            <div class="column-wrap">
                <!--<div class="sx-wrap">
                    <a ui-sref="download_sx">
                        <img class="" src="./img/home-sx.jpg" alt="" >

                        <div class="item-text">
                            <p>星烁陕西麻将</p>
                            <p>最最经典的陕西麻将，特色下炮子玩法、258硬将、清一色、七小对等等！胡到根本停不下来！</p>
                            <div class="color-f0f0f0"></div>
                            <p>进入下载</p>
                        </div>
                    </a>
                </div>-->
                <div class="other-wrap">
                    <div class="hn-wrap">
                        <a ui-sref="download_hn">
                            <div>
                                <img src="./img/home-hn.jpg" alt="">
                            </div>
                            <div class="opposite-container">
                                <img src="./img/oppositeQRcode/opposite-hn.png" alt="">
                            </div>
                            <div class="item-text clearfix">
                                <p class="fl">全来湖南麻将</p>
                                <span class="triangle-left fr"></span>
                                <p class="fr">进入下载</p>
                            </div>
                        </a>
                    </div>
                    <div class="pdk-wrap">
                        <a ui-sref="download_pdk">
                            <div>
                                <img src="./img/home-pdk.jpg" alt="">
                            </div>
                            <div class="opposite-container">
                                <img src="./img/oppositeQRcode/opposite-pdk.png" alt="">
                            </div>
                            <div class="item-text clearfix">
                                <p class="fl">先锋跑得快</p>
                                <span class="triangle-left fr"></span>
                                <p class="fr">进入下载</p>

                            </div>
                        </a>

                    </div>
                    <div class="gd-wrap">
                        <a ui-sref="download_gd">
                            <div>
                                <img src="./img/home-gd.jpg" alt="">
                            </div>
                            <div class="opposite-container">
                                <img src="./img/oppositeQRcode/opposite-gd.png" alt="">
                            </div>
                            <div class="item-text clearfix">
                                <p class="fl">悠悠广东麻将</p>
                                <span class="triangle-left fr"></span>
                                <p class="fr">进入下载</p>
                            </div>
                        </a>
                    </div>
                    <div class="hain-wrap">
                        <a ui-sref="download_hain">
                            <div>
                                <img src="./img/home-hainan.jpg" alt="">
                            </div>
                            <div class="opposite-container">
                                <img src="./img/oppositeQRcode/opposite-hain.png" alt="">
                            </div>
                            <div class="item-text clearfix">
                                <p class="fl">优优海南麻将</p>
                                <span class="triangle-left fr"></span>
                                <p class="fr">进入下载</p>
                            </div>
                        </a>

                    </div>
                    <div class="gd-wrap">
                        <a ui-sref="download_sx">
                            <div>
                                <img src="./img/home-sx.jpg" alt="">
                            </div>
                            <div class="opposite-container">
                                <img src="./img/oppositeQRcode/opposite-sx.png" alt="">
                            </div>
                            <div class="item-text clearfix">
                                <p class="fl">星烁陕西麻将</p>
                                <span class="triangle-left fr"></span>
                                <p class="fr">进入下载</p>
                            </div>
                        </a>
                    </div>

                    <!--<div class="ddz-wrap">
                        <a ui-sref="download_ddz">
                            <img src="./img/home-ddz.jpg" alt="">
                            <div class="item-text clearfix">
                                <p class="fl">先锋斗地主</p>
                                <span class="triangle-left fr"></span>
                                <p class="fr">进入下载</p>
                            </div>

                        </a>

                    </div>-->

                    <div class="gd-wrap">
                        <a ui-sref="download_sc">
                            <div>
                                <img src="./img/home-sc.jpg" alt="">
                            </div>
                            <div class="opposite-container">
                                <img src="./img/oppositeQRcode/opposite-sc.png" alt="">
                            </div>
                            <div class="item-text clearfix">
                                <p class="fl">乐趣四川麻将</p>
                                <span class="triangle-left fr"></span>
                                <p class="fr">进入下载</p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix" style=""></div>

</div>




