<div class="container" ng-controller="gameController">
    <!--轮播图-->
    <div class="focusimg clearfix small-banner">
        <div class="slides-box">
            <ul class="slides">
                <li style="background-image: url('./img/green-banner.jpg')">
                    <div class="li-text">
                        <h2 class="text-title border-left">游戏中心</h2>
                        <p>Game Center</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <!--游戏模块-->
    <div style="background-color: #f6f7fb">
        <ul class="game margin clearfix wow bounceInRight">

            <li class="item">
                <a ui-sref="download_hn">
                    <img class="item-map" src="img/hunan.png" alt="">
                    <div class="item-text">
                        <p>全来湖南麻将</p>
                        <p>
                            湖南地区最流行的麻将规则，转转麻将，长沙麻将等每种玩法绝对正宗、特色还原！

                        </p>
                        <div class="color-f0f0f0"></div>
                        <p>进入下载</p>
                    </div>

                    <img class="new" src="./img/new.png" alt="">
                    <!--<div class="popover clearfix animated fadeInRight">
                        <span>评分</span>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <span class="red"><b>12万</b>次下载</span>
                        <img src="./img/hunan-qr-sm.png" alt="" class="QRcode">
                        <span>扫描即可下载</span>
                        <button class="download">下载游戏</button>
                    </div>-->
                </a>
            </li>
            <li class="item">
                <a ui-sref="download_gd">
                    <img class="" src="img/guangdong.png" alt="" >

                    <div class="item-text">
                        <p>悠悠广东麻将</p>
                        <p>经典的广东麻将玩法，简单易上手，特色玩法买马、鬼牌等，另有更多胡牌方式！</p>
                        <div class="color-f0f0f0"></div>
                        <p>进入下载</p>
                    </div>
                    <img class="new" src="./img/new.png" alt="">
                    <!--<div class="popover clearfix animated fadeInRight">
                        <span>评分</span>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <span class="red"><b>12万</b>次下载</span>
                        <img src="./img/guangdong-qr-sm.png" alt="" class="QRcode">
                        <span>扫描即可下载</span>
                        <button class="download">下载游戏</button>
                    </div>-->
                </a>
            </li>
            <li class="item">
                <a ui-sref="download_gd">
                    <img class="" src="img/doudizhu.jpg" alt="" >

                    <div class="item-text">
                        <p>先锋斗地主</p>
                        <p>经典的广东麻将玩法，简单易上手，特色玩法买马、鬼牌等，另有更多胡牌方式！</p>
                        <div class="color-f0f0f0"></div>
                        <p>进入下载</p>
                    </div>
                    <img class="new" src="./img/new.png" alt="">

                    <!--<div class="popover clearfix animated fadeInRight">
                        <span>评分</span>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <span class="red"><b>12万</b>次下载</span>
                        <img src="./img/guangdong-qr-sm.png" alt="" class="QRcode">
                        <span>扫描即可下载</span>
                        <button class="download">下载游戏</button>
                    </div>-->
                </a>
            </li>
            <li class="item">
                <a ui-sref="download_sx">
                    <img class="" src="img/shanxi.jpg" alt="" >

                    <div class="item-text">
                        <p>星烁陕西麻将</p>
                        <p>最最经典的陕西麻将，特色下炮子玩法、258硬将、清一色、七小对等等！胡到根本停不下来！</p>
                        <div class="color-f0f0f0"></div>
                        <p>进入下载</p>
                    </div>
                    <img class="new" src="./img/new.png" alt="">
                    <!--<div class="popover clearfix animated fadeInRight">
                        <span>评分</span>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <span class="red"><b>12万</b>次下载</span>
                        <img src="./img/shanxi-qr-sm.png" alt="" class="QRcode">
                        <span>扫描即可下载</span>
                        <button class="download">下载游戏</button>
                    </div>-->
                </a>
            </li>
            <li class="item" >
                <a ui-sref="download_pdk">
                    <img class="" src="img/paodekuai.jpg" alt="" >

                    <div class="item-text">
                        <p>先锋跑得快</p>
                        <p>超丰富玩法，想要的都有；全面升级，欢乐依旧；呼朋唤友，熟人娱乐！</p>
                        <div class="color-f0f0f0"></div>
                        <p>进入下载</p>
                    </div>
                    <img class="new" src="./img/new.png" alt="">
                    <!--<div class="popover clearfix animated fadeInRight">
                        <span>评分</span>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <span class="red"><b>12万</b>次下载</span>
                        <img src="./img/paodekuai-qr-sm.png" alt="" class="QRcode">
                        <span>扫描即可下载</span>
                        <button class="download">下载游戏</button>
                    </div>-->
                </a>
            </li>
            <li class="item">
                <a ui-sref="download_hain">
                    <img class="" src="img/hainan.jpg" alt="" >

                    <div class="item-text">
                        <p>优优海南麻将</p>
                        <p>海南地区特有的麻将规则而推出的地方性麻将，玩法简单，计算方便！</p>
                        <div class="color-f0f0f0"></div>
                        <p>进入下载</p>
                    </div>
                    <img class="new" src="./img/new.png" alt="">
                    <!--<div class="popover clearfix animated fadeInRight">
                        <span>评分</span>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <span class="red"><b>12万</b>次下载</span>
                        <img src="./img/hainan-qr-sm.png" alt="" class="QRcode">
                        <span>扫描即可下载</span>
                        <button class="download">下载游戏</button>
                    </div>-->
                </a>
            </li>
            <li class="item">
                <a ui-sref="download_sc">
                    <img class="" src="img/sc.jpg" alt="" >

                    <div class="item-text">
                        <p>乐趣四川麻将</p>
                        <p>四川地区最流行的麻将游戏，特色缺门、刮风下雨，计番等；快来下载体验吧，保证让你爱不释手！</p>
                        <div class="color-f0f0f0"></div>
                        <p>进入下载</p>
                    </div>
                    <img class="new" src="./img/new.png" alt="">
                    <!--<div class="popover clearfix animated fadeInRight">
                        <span>评分</span>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <span class="red"><b>11万</b>次下载</span>
                        <img src="./img/sc-qr-sm.png" alt="" class="QRcode">
                        <span>扫描即可下载</span>
                        <button class="download">下载游戏</button>
                    </div>-->
                </a>
            </li>
        </ul>
    </div>
    <div class="clearfix" style="margin-bottom: 50px"></div>



</div>




