


    <div class="container" ng-controller="downloadController">
        <!--轮播图-->
        <div class="focusimg clearfix">
            <div class="slides-box">
                <ul class="slides">
                    <li style="background-image: url('img/sc-banner.jpg')">

                    </li>

                </ul>
            </div>
        </div>


        <!--游戏下载-->
        <div class="load-top margin">
            <div class="top-left clearfix">
            <span class="left fl">
                <img src="./img/sc-icon.png" alt="">
            </span>
                <span class="right">
                <label>乐趣四川麻将</label>
                <label>大小：63.2MB</label>
                <label>下载： 9万次</label>
            </span>
            </div>
            <div class="top-right">
                <h6>选择操作系统下载</h6>
                <button onclick="window.open('https://itunes.apple.com/cn/app/id1213684935')">ios下载</button>
                <button onclick="window.open('http://a.app.qq.com/o/simple.jsp?pkgname=com.quanlai.sichuanmj')">Android下载</button>
            </div>
        </div>
        <div class="solid-line"></div>

        <div class="load-middle margin clearfix">
            <div class="middle-left">
                <div class="title">
                    游戏介绍
                </div>
                <p>
                    《乐趣四川麻将》是四川地区最流行的麻将游戏,<br>
                    特色缺门、刮风下雨，计番等；<br>
                    集四川本地特色玩法于一身,特色血战到底、血流成河、宜宾麻将等，<br>
                    家乡玩法应有尽有，快来下载体验吧！
                </p>
            </div>
            <div class="wrap ">
                <div class="middle-right clearfix">
                 <span class="left fl">
                    <img class=" " src="./img/sc-qr.png" alt="" style="width: 140px;height: 140px;">
                </span>
                    <span class="right">
                    <label>使用手机扫描二维码</label>
                    <label>自动识别手机系统</label>
                    <label>并从手机跳转下载页面</label>
                </span>
                    <img class="scan" src="./img/scan.png" alt="">
                </div>
            </div>
        </div>
        <div class="break-line"></div>
        <div class="load-bottom margin">
            <div class="title">
                游戏截图
            </div>
            <ul class="screenshot">
                <li class="item">
                    <img src="./img/sc-screen1.png" alt="">
                </li>
                <li class="item">
                    <img src="./img/sc-screen2.png" alt="">
                </li>
                <li class="item">
                    <img src="./img/sc-screen3.png" alt="">
                </li>
            </ul>
        </div>
    </div>



