


    <div class="container" ng-controller="downloadController">
        <!--轮播图-->
        <div class="focusimg clearfix">
            <div class="slides-box">
                <ul class="slides">
                    <li style="background-image: url('img/hainan-banner.jpg')">

                    </li>

                </ul>
            </div>
        </div>


        <!--游戏下载-->
        <div class="load-top margin">
            <div class="top-left clearfix">
            <span class="left fl">
                <img src="./img/hainan-icron.png" alt="">
            </span>
                <span class="right">
                <label>优优海南麻将</label>
                <label>大小：57.8MB</label>
                <label>下载： 10万次</label>
            </span>
            </div>
            <div class="top-right">
                <h6>选择操作系统下载</h6>
                <button onclick="window.open('https://itunes.apple.com/cn/app/id1213715944')">ios下载</button>
                <button onclick="window.open('http://a.app.qq.com/o/simple.jsp?pkgname=com.quanlai.hainanmj')">Android下载</button>
            </div>
        </div>
        <div class="solid-line"></div>

        <div class="load-middle margin clearfix">
            <div class="middle-left">
                <div class="title">
                    游戏介绍
                </div>
                <p>
                    "今年最新推出的《优优海南麻将》已经震撼来袭了！<br>
                    各位小伙伴都准备好一起加入游戏愉快战斗了吗？<br>
                    如果想要在优优海南麻将中领先一步，那么就赶快下载吧！"
                </p>
            </div>
            <div class="wrap ">
                <div class="middle-right clearfix">
                 <span class="left fl">
                    <img class=" " src="./img/hainan-qr.png" alt="" style="width: 140px;height: 140px;">
                </span>
                    <span class="right">
                    <label>使用手机扫描二维码</label>
                    <label>自动识别手机系统</label>
                    <label>并从手机跳转下载页面</label>
                </span>
                    <img class="scan" src="./img/scan.png" alt="">
                </div>
            </div>
        </div>
        <div class="break-line"></div>
        <div class="load-bottom margin">
            <div class="title">
                游戏截图
            </div>
            <ul class="screenshot">
                <li class="item">
                    <img src="./img/hainan-screen1.jpg" alt="">
                </li>
                <li class="item">
                    <img src="./img/hainan-screen2.jpg" alt="">
                </li>
                <li class="item">
                    <img src="./img/hainan-screen3.jpg" alt="">
                </li>
            </ul>
        </div>
    </div>



