


    <div class="container" ng-controller="downloadController">
        <!--轮播图-->
        <div class="focusimg clearfix">
            <div class="slides-box">
                <ul class="slides">
                    <li style="background-image: url('img/guangdong-banner.jpg')">

                    </li>


                </ul>
            </div>
        </div>


        <!--游戏下载-->
        <div class="load-top margin">
            <div class="top-left clearfix">
            <span class="left fl">
                <img src="./img/guangdong-icron.png" alt="">
            </span>
                <span class="right">
                <label>悠悠广东麻将</label>
                <label>大小：60.5MB</label>
                <label>下载： 10万次</label>
            </span>
            </div>
            <div class="top-right">
                <h6>选择操作系统下载</h6>
                <button onclick="window.open('https://itunes.apple.com/cn/app/id1215556897')">ios下载</button>
                <button onclick="window.open('http://a.app.qq.com/o/simple.jsp?pkgname=com.quanlai.guangdongmj')">Android下载</button>
            </div>
        </div>
        <div class="solid-line"></div>

        <div class="load-middle margin clearfix">
            <div class="middle-left">
                <div class="title">
                    游戏介绍
                </div>
                <p>
                    "《悠悠广东麻将》是集合广东麻将中最全面玩法集合的国粹麻将棋牌游戏，<br>
                    在游戏中玩家们不仅能够体验到最原汁原味的广东麻将玩法，方言语音音乐，人性化界面设计。<br>
                    还为麻友们提供安全稳定的对局环境，全面的玩法设定，<br>
                    让麻友们找到最熟悉的家乡味道！"
                </p>
            </div>
            <div class="wrap ">
                <div class="middle-right clearfix">
                 <span class="left fl">
                    <img class=" " src="./img/guangdong-qr.png" alt="" style="width: 140px;height: 140px;">
                </span>
                    <span class="right">
                    <label>使用手机扫描二维码</label>
                    <label>自动识别手机系统</label>
                    <label>并从手机跳转下载页面</label>
                </span>
                    <img class="scan" src="./img/scan.png" alt="">
                </div>
            </div>
        </div>
        <div class="break-line"></div>
        <div class="load-bottom margin">
            <div class="title">
                游戏截图
            </div>
            <ul class="screenshot">
                <li class="item">
                    <img src="./img/guangdong-screen1.jpg" alt="">
                </li>
                <li class="item">
                    <img src="./img/guangdong-screen2.jpg" alt="">
                </li>
                <li class="item">
                    <img src="./img/guangdong-screen3.jpg" alt="">
                </li>
            </ul>
        </div>
    </div>



