


<div class="container" ng-controller="downloadController">
    <!--轮播图-->
    <div class="focusimg clearfix">
        <div class="slides-box">
            <ul class="slides">
                <li style="background-image: url('img/shanxi-banner.jpg')">

                </li>

            </ul>
        </div>
    </div>


    <!--游戏下载-->
    <div class="load-top margin">
        <div class="top-left clearfix">
            <span class="left fl">
                <img src="./img/shanxi-icron.png" alt="">
            </span>
            <span class="right">
                <label>星烁陕西麻将</label>
                <label>大小：60.5MB</label>
                <label>下载： 10万次</label>
            </span>
        </div>
        <div class="top-right">
            <h6>选择操作系统下载</h6>
            <button onclick="window.open('https://itunes.apple.com/cn/app/id1215559487')">ios下载</button>
            <button onclick="window.open('http://a.app.qq.com/o/simple.jsp?pkgname=com.quanlai.shaanximj')">Android下载</button>
        </div>
    </div>
    <div class="solid-line"></div>

    <div class="load-middle margin clearfix">
        <div class="middle-left">
            <div class="title">
                游戏介绍
            </div>
            <p>
                "《星烁陕西麻将》以陕西地区流行的玩法为基准开发的地方特色麻将。<br>
                陕西麻将玩法简单、爽快，倍受广大玩家好评，<br>
                极具特色的下炮子玩法让陕西麻将更加刺激，更加好玩！
                集合陕西本地特色玩法于一身，特色下炮子玩法、三人麻将、滑水麻将、渭南麻将、商洛下嘴子麻将、榆林打锅子麻将等等，<br>
                家乡玩法应有尽有！"
            </p>
        </div>
        <div class="wrap ">
            <div class="middle-right clearfix">
                 <span class="left fl">
                    <img class=" " src="./img/shanxi-qr.png" alt="" style="width: 140px;height: 140px;">
                </span>
                <span class="right">
                    <label>使用手机扫描二维码</label>
                    <label>自动识别手机系统</label>
                    <label>并从手机跳转下载页面</label>
                </span>
                <img class="scan" src="./img/scan.png" alt="">
            </div>
        </div>
    </div>
    <div class="break-line"></div>
    <div class="load-bottom margin">
        <div class="title">
            游戏截图
        </div>
        <ul class="screenshot">
            <li class="item">
                <img src="./img/shanxi-screen1.jpg" alt="">
            </li>
            <li class="item">
                <img src="./img/shanxi-screen2.jpg" alt="">
            </li>
            <li class="item">
                <img src="./img/shanxi-screen3.jpg" alt="">
            </li>
        </ul>
    </div>
</div>



