


    <div class="container" ng-controller="downloadController">
        <!--轮播图-->
        <div class="focusimg clearfix">
            <div class="slides-box">
                <ul class="slides">
                    <li style="background-image: url('img/paodekuai_banner.png')">

                    </li>

                </ul>
            </div>
        </div>


        <!--游戏下载-->
        <div class="load-top margin">
            <div class="top-left clearfix">
            <span class="left fl">
                <img src="./img/paodekuai-icron.png" alt="">
            </span>
                <span class="right">
                <label>先锋跑得快</label>
                <label>大小：53.4MB</label>
                <label>下载： 10万次</label>
            </span>
            </div>
            <div class="top-right">
                <h6>选择操作系统下载</h6>
                <button onclick="window.open('https://itunes.apple.com/cn/app/id1221926558')">ios下载</button>
                <button onclick="window.open('http://a.app.qq.com/o/simple.jsp?pkgname=com.quanlai.paodekuai')">Android下载</button>
            </div>
        </div>
        <div class="solid-line"></div>

        <div class="load-middle margin clearfix">
            <div class="middle-left">
                <div class="title">
                    游戏介绍
                </div>
                <p>
                    "《先锋跑得快》今年重磅来袭！各位父老乡亲们久等啦！<br>
                    先锋跑得快是一款流行于各地的扑克游戏，精致的棋牌画面设定。<br>
                    各种不同玩法模式设定，上万玩家真人在线竞技对战，<br>
                    即时语音随时随地畅聊，沟通无障碍，激情不断！"
                </p>
            </div>
            <div class="wrap ">
                <div class="middle-right clearfix">
                 <span class="left fl">
                    <img class=" " src="./img/paodekuai-qr.png" alt="" style="width: 140px;height: 140px;">
                </span>
                    <span class="right">
                    <label>使用手机扫描二维码</label>
                    <label>自动识别手机系统</label>
                    <label>并从手机跳转下载页面</label>
                </span>
                    <img class="scan" src="./img/scan.png" alt="">
                </div>
            </div>
        </div>
        <div class="break-line"></div>
        <div class="load-bottom margin">
            <div class="title">
                游戏截图
            </div>
            <ul class="screenshot">
                <li class="item">
                    <img src="./img/pdk-screen1.jpg" alt="">
                </li>
                <li class="item">
                    <img src="./img/pdk-screen2.jpg" alt="">
                </li>
                <li class="item">
                    <img src="./img/pdk-screen3.jpg" alt="">
                </li>
            </ul>
        </div>
    </div>



