

.title{
  i{
    display: inline-block;
    font-size: 18px;
    color: #222;
    padding-left: 10px;
    border-left: 4px solid #2d8efa;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 900;
  }
}



.home-game{
  background-color: #f5f5f5;
  img{
    width: 100%;
  }
  .title{
    position: relative;
    padding: 15px 0;
    span{
      padding-left: 15px;
      font-weight: 600;
      font-size: 18px;
      color: #222;
      border-left: 4px solid #2d8efa;
    }
    a{
      color: #979797;
      font-size: 17px;
      font-weight: 600;
    }

  }
  .row-wrap{
    display: flex;
    padding-top: 20px;
    margin-bottom: 15px;
    a{
      flex: 1;
      margin-right: 5px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  .column-wrap{
    column-count:3;
    background-color: #f5f5f5;
    .sx-wrap{
      break-inside: avoid;
      font-size: 0;
      background-color: #f5f5f5;
      .item-text{
        width: 100%;
        margin: 0 auto;
        padding: 16px 20px 0;
        text-align: left;
        padding-top: 10px;
        background-color: #fff;
        p:nth-of-type(1){
          font-size: 18px;
          color: #222;

          cursor: pointer;
          font-weight: 900;
        }
        p:nth-of-type(2){
          margin-top: 6px;
          text-align: left;
          line-height: 22px;
          font-size: 13px;
          color: #a9a9a9;
          font-weight: 700;
          margin-bottom: 20px;
        }
        p:nth-of-type(3){
          text-align: right;
          color: #9db2c5;
          font-size: 12px;
          padding: 6px 0 10px 0;
        }
        .color-f0f0f0{
          width: 100%;
          height: 1px;
          background-color: #f0f0f0;
        }
      }
    }
    .other-wrap{
      &>div{
        break-inside: avoid;
        margin-bottom: 50px;
        font-size: 0;
        a{
          display: block;
          perspective: 500px;
          position: relative;
          .opposite-container{
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            width: 100%;
            transition: all 0.5s ease-in-out;
          }
          .item-text{
            background-color: #fff;
            color: #222;
            font-size: 15px;
            padding: 20px;
            p:last-child{
              color: #a2b2cd;
              font-size: 12px;
              margin-right: 10px;
              font-weight: 900;
            }
            .triangle-left{
              width: 0;
              height: 0;
              border-top: 5px solid transparent;
              border-bottom: 5px solid transparent;
              border-left: 10px solid #a2b2cd;
              margin-top: 5px;
            }
          }
          &:hover .opposite-container{
            opacity: 1;
          }
        }
      }
    }

  }
}

