.gotop{
    width:40px;
    height:40px;
    line-height:40px;
    background: url("../img/up.png");
    background-color: #eee;
    color:#fff;
    text-align:center;
    position:fixed;
    right:30px;
    bottom:20%;
    cursor:pointer;
    font-size:16px;
    display: none;
    opacity: 0.7;
    font-weight: bold;
    border-radius: 5px;
    overflow: hidden;
    
}
