.min-heigth {
  min-height: 400px; }

.news {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #fcfcfc; }
  .news .title {
    position: relative;
    padding: 5px 0; }
    .news .title span {
      padding-left: 15px;
      font-weight: 600;
      font-size: 18px;
      color: #222;
      border-left: 4px solid #2d8efa; }
    .news .title a {
      color: #979797;
      font-size: 17px;
      font-weight: 600; }
  .news .news-wrap {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px; }
    .news .news-wrap .news-list, .news .news-wrap .news-block {
      border: 1px solid #ebebeb;
      padding: 0 20px; }
    .news .news-wrap .news-list {
      flex-grow: 3;
      margin-right: 15px;
      padding-top: 20px; }
      .news .news-wrap .news-list .news-item {
        padding: 20px 0;
        border-bottom: 1px dotted #e2e2e2; }
        .news .news-wrap .news-list .news-item:last-child {
          border: none; }
        .news .news-wrap .news-list .news-item .news-title {
          color: #666;
          font-weight: 900;
          font-size: 14px; }
          .news .news-wrap .news-list .news-item .news-title img {
            margin-right: 15px; }
          .news .news-wrap .news-list .news-item .news-title:hover {
            color: #2d8efa;
            text-decoration: underline; }
        .news .news-wrap .news-list .news-item .news-time {
          font-size: 12px;
          color: #c9c9c9; }
    .news .news-wrap .news-block {
      flex-grow: 1;
      padding: 10px; }
      .news .news-wrap .news-block a {
        display: block;
        margin-bottom: 10px;
        background: #3085a3; }
        .news .news-wrap .news-block a:hover img {
          opacity: 0.8; }
        .news .news-wrap .news-block a img {
          display: block;
          width: 100%;
          opacity: 1;
          transition: opacity 0.35s; }

div .title {
  position: relative;
  padding: 5px 0; }
  div .title span {
    padding-left: 15px;
    font-weight: 600;
    font-size: 18px;
    color: #222;
    border-left: 4px solid #2d8efa; }
  div .title a {
    color: #979797;
    font-size: 17px;
    font-weight: 600; }
div .game {
  padding-top: 20px !important;
  font-size: 0;
  position: relative; }
  div .game .item {
    float: left;
    box-sizing: border-box;
    margin-right: 2%;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    width: 32%; }
    div .game .item > a {
      display: inline-block;
      background: linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
      overflow: hidden; }
    div .game .item > a:hover img:nth-of-type(1) {
      transform: translate3d(0, 0, 0); }
    div .game .item img:nth-of-type(1) {
      position: relative;
      width: 100%;
      position: relative;
      width: calc(100% + 60px) !important;
      transform: translate3d(-50px, 0, 0);
      opacity: 1;
      transition: opacity 0.35s, transform 0.35s; }
    div .game .item .item-text {
      width: 100%;
      margin: 0 auto;
      padding: 16px 20px 0;
      text-align: left;
      padding-top: 10px;
      background-color: #fff; }
      div .game .item .item-text p:nth-of-type(1) {
        font-size: 18px;
        color: #222;
        cursor: pointer;
        font-weight: 900; }
      div .game .item .item-text p:nth-of-type(2) {
        margin-top: 6px;
        text-align: left;
        line-height: 22px;
        font-size: 13px;
        color: #a9a9a9;
        font-weight: 700;
        margin-bottom: 20px; }
      div .game .item .item-text p:nth-of-type(3) {
        text-align: right;
        color: #9db2c5;
        font-size: 12px;
        padding: 6px 0 10px 0; }
      div .game .item .item-text .color-f0f0f0 {
        width: 100%;
        height: 1px;
        background-color: #f0f0f0; }
    div .game .item .new {
      position: absolute;
      right: -4px;
      top: -4px;
      z-index: 9; }
    div .game .item .popover {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 50%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      opacity: 1;
      vertical-align: middle;
      padding-top: 15px;
      transition: all 0.5s linear;
      display: none; }
      div .game .item .popover span {
        display: inline-block;
        font-size: 10px;
        color: #222;
        padding-bottom: 5px;
        width: 100%;
        font-weight: 800; }
      div .game .item .popover span.red {
        color: red;
        padding-bottom: 10px; }
      div .game .item .popover ul {
        float: left;
        text-align: right;
        padding-left: 34px;
        padding-bottom: 8px; }
        div .game .item .popover ul li {
          float: left;
          background: url("../img/star.png") no-repeat center;
          background-size: 100%;
          width: 12px;
          height: 12px;
          margin-left: 5px; }
      div .game .item .popover .QRcode {
        margin-bottom: 5px;
        width: 65px;
        height: 65px; }
      div .game .item .popover button.download {
        width: 96px;
        height: 24px;
        border-radius: 10px;
        background-color: #3e8afa;
        font-size: 14px;
        color: #f8f8f8;
        text-align: center;
        line-height: 10px; }
    div .game .item:hover .popover {
      display: block; }
  div .game .item:nth-child(3n) {
    margin-right: 0; }

/*# sourceMappingURL=home.css.map */
