
@mixin transition($trtime) {
  -webkit-transition:all $trtime+s ease-out;
  -moz-transition:all $trtime+s ease-out;
  transition:all $trtime+s ease-out;
}
.min-heigth{
  min-height: 400px;
}


.news{
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #fcfcfc;
  .title{
    position: relative;
    padding: 5px 0;
    span{
      padding-left: 15px;
      font-weight: 600;
      font-size: 18px;
      color: #222;
      border-left: 4px solid #2d8efa;
    }
    a{
      color: #979797;
      font-size: 17px;
      font-weight: 600;
    }

  }
  .news-wrap{
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    .news-list, .news-block{
      border: 1px solid rgb(235, 235, 235);
      padding: 0 20px;
    }
    .news-list{
      flex-grow: 3;
      margin-right: 15px;
      padding-top: 20px;
      .news-item{
        padding: 20px 0;
        border-bottom: 1px dotted #e2e2e2;
        &:last-child{
          border: none;
        }
        .news-title{
          color: #666;
          font-weight: 900;
          font-size: 14px;
          img{
            margin-right: 15px;
          }
          &:hover{
            color: #2d8efa;
            text-decoration: underline;
          }
        }
        .news-time{
          font-size: 12px;
          color: #c9c9c9;
        }
      }
    }
    .news-block{
      flex-grow: 1;
      padding: 10px;
      a{
        display: block;
        margin-bottom: 10px;
        background: #3085a3;
        &:hover img{
          opacity: 0.8;
        }
        img{
          display: block;
          width: 100%;
          opacity: 1;
          transition: opacity 0.35s

        }
      }
    }

  }

}
div{
  .title{
    position: relative;
    padding: 5px 0;
    span{
      padding-left: 15px;
      font-weight: 600;
      font-size: 18px;
      color: #222;
      border-left: 4px solid #2d8efa;
    }
    a{
      color: #979797;
      font-size: 17px;
      font-weight: 600;
    }

  }
  .game{
    padding-top: 20px !important;
    font-size: 0;
    position: relative;
    .item{
      float: left;
      box-sizing: border-box;
      margin-right: 2%;
      margin-bottom: 50px;
      text-align: center;
      position: relative;
      width: 32%;
      &>a{
        display: inline-block;
        background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
        overflow: hidden;
      }
      &>a:hover img:nth-of-type(1){
        transform: translate3d(0, 0, 0);
      }
      img:nth-of-type(1){
        position: relative;
        width: 100%;
        position: relative;
        width: calc(100% + 60px)!important;
        transform: translate3d(-50px,0,0);
        opacity: 1;
        transition: opacity 0.35s, transform 0.35s;
      }
      .item-text{
        width: 100%;
        margin: 0 auto;
        padding: 16px 20px 0;
        text-align: left;
        padding-top: 10px;
        background-color: #fff;
        p:nth-of-type(1){
          font-size: 18px;
          color: #222;

          cursor: pointer;
          font-weight: 900;
        }
        p:nth-of-type(2){
          margin-top: 6px;
          text-align: left;
          line-height: 22px;
          font-size: 13px;
          color: #a9a9a9;
          font-weight: 700;
          margin-bottom: 20px;
        }
        p:nth-of-type(3){
          text-align: right;
          color: #9db2c5;
          font-size: 12px;
          padding: 6px 0 10px 0;
        }
        .color-f0f0f0{
          width: 100%;
          height: 1px;
          background-color: #f0f0f0;
        }
      }

      .new{
        position: absolute;
        right: -4px;
        top: -4px;
        z-index: 9;
      }
      .popover{
        position: absolute;
        right: 0px;
        top: 0px;
        width: 50%;
        height: 100%;
        background-color: rgba(255,255,255,0.8);
        opacity: 1;
        vertical-align: middle;
        padding-top: 15px;
        transition: all 0.5s linear;
        display: none;

        span{
          display: inline-block;
          font-size: 10px;
          color: #222;
          padding-bottom: 5px;
          width: 100%;
          font-weight: 800;
        }
        span.red{
          color: red;
          padding-bottom: 10px;
        }
        ul{
          float: left;
          text-align: right;
          padding-left: 34px;
          padding-bottom: 8px;
          li{
            float: left;
            background: url("../img/star.png") no-repeat center;
            background-size: 100%;
            width: 12px;
            height: 12px;
            margin-left: 5px;
          }
        }
        .QRcode{
          margin-bottom: 5px;
          width: 65px;
          height: 65px;
        }
        button.download{
          width: 96px;
          height: 24px;
          border-radius: 10px;
          background-color: #3e8afa;
          font-size: 14px;
          color: #f8f8f8;
          text-align: center;
          line-height: 10px;

        }

      }
      &:hover .popover{
        display: block;
      }
    }

    .item:nth-child(3n){
      margin-right: 0;
    }

  }
}
