/* module: 布局 */
*{
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}

.table{
  display: table;
}
.row{
  display: table-row;
}
.cell{
  display: table-cell;
  vertical-align: top;
}

.d-inline-block{
  display: inline-block;
}

.fl{
  float: left;
}
.fr{
  float: right;
}
.mt0{
  margin-top: 0;
}
.mt5{
  margin-top: 5px;
}
.mt10{
  margin-top: 10px;
}
.mt20{
  margin-top: 20px;
}
.mt50{
  margin-top: 50px;
}
.ml2{
  margin-left: 2px;
}
.ml5{
  margin-left: 5px;
}
.ml10{
  margin-left: 10px;
}
.ml20{
  margin-left: 20px;
}
.mr10{
  margin-right: 10px;
}
.mb20{
  margin-bottom: 20px;
}
.p10{
  padding: 10px;
}
.pl10{
  padding-left: 10px;
}
.ptb10{
  padding-top:10px;
  padding-bottom: 10px; 
}
.pb10{
  padding-bottom: 10px;
}
.w50{
  width: 50%
}
.w100{
  width: 100%;
}
.hide{
  display: none;
}


.clearfix:after{
  display: block;
  content: "";
  clear: both;
}
.clearfix{
  zoom: 1;
}

button{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}
.center{
  text-align: center;
}
/*公用基线样式基线*/
.solid-line{
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
}
.break-line{
  width: 100%;
  height: 20px;
  background-color: #f5f5f5;
}
.dashed-line{
  width: 90%;
  border: 1px dashed #e0e0e0;
  margin-top: 20px;
}



.active-nav{
  font-size: 18px;
  color: #1f86f9;
  padding-bottom: 14px;
  border-bottom: 4px solid rgba(31,134,249,1);
  transition: all 0.5s;
}
.active-buttom-nav{
  
}
.red{
  color: red!important;
  font-weight: bolder;
}

/* 左边距 */
.border-left {
  position: relative;
  padding-left: 20px; }
.border-left:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0px;
  background: inherit;
  width: 4px;
  height: 20px;
  background-color: #fff; }

.margin{
  width: 980px;
  margin: 0 auto;
}
@media screen and (min-width: 1025px){
  .margin{
    width: 1025px;
    margin: 0 auto;
  }
}
