.detail-wrap {
  background-color: #f5f5f5;
  padding-bottom: 50px; }

.detail {
  border: 1px solid #d7d3d3;
  color: #464545;
  background: #fff;
  overflow: hidden;
  padding: 30px 80px 0; }
  .detail .title {
    color: #222;
    border-bottom: 1px solid #d8d8d8;
    text-align: center;
    font: 700 28px/50px 'microsoft yahei';
    padding: 20px;
    margin-bottom: 40px; }
  .detail .date {
    display: block;
    color: #2d8efa;
    font: 900 13px/20px 'microsoft yahei';
    border: none; }
  .detail .img-wrap {
    margin-top: 20px;
    text-align: center;
    width: 100%; }
  .detail strong {
    font-size: 16px;
    color: #3e3e3e; }
  .detail big {
    font-weight: bolder; }
  .detail p {
    color: #343434;
    letter-spacing: 2px;
    text-indent: 2em;
    font: 600 14px/28px "microsoft yahei"; }
  .detail .illustration {
    width: 100%;
    height: 280px;
    margin: 30px 0px; }
  .detail .followMe {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px; }
    .detail .followMe .wechatQR {
      display: inline-block;
      width: 300px;
      height: 300px;
      margin-bottom: 20px; }
    .detail .followMe p {
      font-size: 14px;
      color: #87878a;
      font-weight: 600;
      line-height: 25px; }
  .detail .margin-auto {
    display: inherit;
    margin: 20px auto;
    text-align: center; }
  .detail .img-auto {
    width: 68%;
    margin: 20px auto 10px; }

.loseinself {
  margin: 70px auto 40px;
  color: #424242; }
  .loseinself .title {
    font-weight: 400;
    font-size: 18px;
    color: #222;
    line-height: 27px;
    margin: 10px 0; }
  .loseinself p {
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #87878a;
    font-weight: 600;
    line-height: 30px; }
    .loseinself p.indent {
      text-indent: 2em;
      margin-bottom: 0;
      margin-top: 0; }
    .loseinself p.indent4 {
      text-indent: 3em;
      margin-bottom: 0;
      margin-top: 0; }

.parent-custody {
  margin-top: 30px !important;
  line-height: 28px;
  color: #424242;
  width: 60%; }
  .parent-custody .menu {
    margin: 20px auto 50px; }
    .parent-custody .menu li {
      width: 33.3%;
      border-right: 1px solid #ccc;
      display: inline-block;
      font-size: 18px;
      color: #333;
      cursor: pointer; }
      .parent-custody .menu li:last-child {
        border-right: none; }
      .parent-custody .menu li.active {
        padding: 10px 0;
        font-size: 18px;
        color: #ff9966; }
  .parent-custody .item .content {
    margin-bottom: 20px; }
    .parent-custody .item .content p {
      text-indent: 2em; }
    .parent-custody .item .content .title {
      margin-bottom: 20px;
      font-size: 18px; }
    .parent-custody .item .content .big {
      font-size: 18px;
      color: #373f42; }
      .parent-custody .item .content .big .little {
        font-size: 14px; }
    .parent-custody .item .content .heading {
      color: #373f42;
      font-weight: bolder;
      font-size: 18px;
      margin-bottom: 2px; }
      .parent-custody .item .content .heading + p {
        text-indent: 0; }
        .parent-custody .item .content .heading + p a {
          color: #3e8afa; }
    .parent-custody .item .content .post-code {
      margin-top: 20px; }
    .parent-custody .item .content img.process {
      margin-bottom: 30px; }

/*# sourceMappingURL=news_detail.css.map */
