
    <div class="container" ng-controller="detailController">
        <div class="break-line"></div>
        <div class="detail margin">
            <h3 class="title">
                【新闻】助力公益，情系湖南
            </h3>
            <span class="date">2017-07-07</span>
                <div class="margin-auto" style="background-color: black;width: 75%">
                    <video class="margin-auto " width="90%" src="img/video1.mp4" poster="img/poster1.png" controls autobuffer></video>
                </div>
            <p>
                  进入7月，湖南遭遇暴雨肆虐，导致湖南防汛形势严峻，湘江水位超过历史最高记录，已有400多万人受灾。湖南地区的水灾泛滥牵动着全国人民的心，也引发了社会各界的关注和援助。
            </p>
            <p>
                洪水无情，善豹有爱。作为致力于扎根湖南棋牌市场的善豹科技，时刻关注洪灾动态并义不容辞向灾区奉献爱心。

            </p>

            <p>
                善豹科技一直致力于扎根湖南，通过线上及线下的推广培养湖南全民愉悦绿色的网络棋牌竞技习惯，旗下的全来湖南麻将现已为众多的湖南兄弟姐妹带去欢乐。湖南同胞灾情期间，全来湖南麻将助力湖南灾后重建公益事业。<b class="red">全来湖南麻将总销售收入的10%都将用于湖南抗洪救灾宣传，意味着用户每充值10元钱就有1元用于家乡抗灾公益宣传。</b> 危难关头人人都可以是公益大使, <b class="red">让我们一起为宁乡加油，一起为湖南加油！</b>
            </p>

            <p>
                全来湖南麻将灾后大重建公益宣传栏目将在 <b class="red">湖南公共频道-[帮女郎 帮你忙]</b> 节目同步播出。播出时间每天9:58、12:58、16:38 、18:55 、20:35、21:24（时间可能有5分钟左右的浮动哦）
            </p>
            <img class="margin-auto img-auto" src="img/news-12.jpg" alt="">
            <p>
                善豹科技也将继续关注一线的救灾情况，鼎力支持灾区人民克服困难、度过难关。面对洪水天灾，众志成城是最坚实的防线，善豹科技呼吁社会各界伸出援助之手，把更多的关注和关爱送给灾区人民，为灾区人民度过难关贡献力量。

            </p>
            <div class="margin-auto" style="background-color: black;width: 75%">
                <video class="margin-auto " width="90%" src="img/video2.mp4" poster="img/poster2.png" controls autobuffer></video>
            </div>
        </div>

        <div class="followMe">
            <p>扫描下方二维码下载游戏</p>
            <p>让我们一起为湖南加油！ </p>
            <img class="wechatQR" src="img/news-13.png" alt="">
        </div>



    </div>


