
<div class="detail-wrap" ng-controller="detailController">
        <div class="break-line"></div>
        <div class="detail margin">
            <h3 class="title">
                乐趣四川麻将代表选手进入世界麻将运动会直通赛16强
                <span class="date">发布时间：2017-07-21</span>
            </h3>

            <img class="margin-auto" src="img/news-1.jpg" alt="">
            <p>
                  由国际麻将联盟（MIL）主办、水木智娱承办、联众国际协办的欧亚麻将精英交流赛暨第二届世界麻将运动会直通赛今天已是最后一天。
            </p>
            <p>
                经过残酷的预选赛和激烈的复活赛，四川麻将项目16强已全部产生，同时获得第二届世界麻将运动会（2nd WMSG）四川麻将项目的参赛资格。
            </p>
            <img class="margin-auto img-auto" src="./img/news-2.jpg" alt="">

            <p>
                <strong>
                    乐趣四川麻将作为海选平台，经过层层选拔最终选拔出一批高水平玩家，代表乐趣四川麻将参与比赛。
                </strong>
            </p>
            <p class="red margin-auto">最终乐趣四川麻将有三位代表选手进入16强</p>

            <div class="img-wrap margin">
                <img class="img-auto" src="img/news-3.jpg" alt="">
                <p>邓琳女士</p>
                <p><strong>第四名</strong></p>
            </div>
            <div class="img-wrap margin">
                <img class="img-auto" src="img/news-4.jpg" alt="">
                <p>李珍颖女士</p>
                <p><strong>第五名</strong></p>
            </div>
            <div class="img-wrap margin">
                <img class="img-auto" src="img/news-5.jpg" alt="">
                <p>邹静女士</p>
                <p><strong>第十六名</strong></p>
            </div>
            <p class="red margin-auto" style="padding:10px;font-size:20px;">在此祝愿选手们在决赛中有好的表现！</p>
            <p>
                其中邹静女士的赛程经历可谓是一波三折，邹婧女士在预选赛中以一名之差与晋级擦肩而过。但在复活赛中，她华丽逆袭杀出重围，<strong>拿下决赛入场券。</strong>另外值更得一提的是，邹静女士的丈夫是 <strong>本次预选赛中夺得冠军</strong>，同时拥有多个世界冠军头衔的赵坚选手。在此祝愿二人在决赛中有更好的表现！
            </p>
            <div class="img-wrap margin">
                <img class="img-auto" src="img/news-6.jpg" alt="">
                <p>邹婧女士迎战外国选手</p>

            </div>

            <div class="followMe">
                <p>想和16强选手切磋一下么？</p>
                <p>那么，就快来 <big>乐趣四川麻将</big>吧！</p>
                <p>多方高手在此等你来战！</p>
                <p>扫描下方二维码下载游戏 </p>
                <img  src="img/news-7.png" alt="">
            </div>

            <div class="img-wrap margin-auto">
                <p style="color: rgb(2, 30, 170);padding: 5px">附：四川麻将项目决赛选手名单</p>
                <img  src="img/news-8.jpg" alt="">

            </div>
        </div>



    </div>


