
<div class="container" ng-controller="detailController">
    <div class="break-line"></div>
    <div class="detail margin">
        <h3 class="title">
            【新闻】第二届世界麻将运动会直通赛乐趣四川麻将线上预选赛正式启动

        </h3>
        <span class="date">2017-07-10</span>
        <img class="margin-auto" src="img/news-1.jpg" alt="">
        <p>
              第二届世界麻将运动会直通赛成都站即将开幕，北京善豹科技有限公司获得本次赛事授权成为 <span class="red">赛事海选平台</span>，我司将选拔“ <b class="red">乐趣四川麻将</b>”游戏中 <big class="综合排名前10名"></big>的玩家代表参加本次“第二届世界麻将运动会直通赛”。
        </p>
        <big>直通赛说明</big>
        <p>
            由国际麻将联盟（MIL）主办、水木智娱承办、联众国际协办、成都龙之梦大酒店赞助的“龙之梦”杯欧亚麻将精英交流赛暨第二届世界麻将运动会直通赛将在7月18日至20日在成都举办，欧洲各国的麻将冠军选手将会组团来华挑战。
        </p>
        <p>本次赛事也将与国内多家专业麻将平台合作，通过各平台选出本土最优秀的麻将选手，迎接外国选手的挑战。据悉，本次川麻比赛冠亚军除了相应的奖励以外，前16名都将获得直通第二届世界麻将运动会（2nd WMSG）的资格。

        </p>
        <big>直通赛四川麻将项目安排</big>
        <p>时间：2017年7月18~20日</p>
        <p>地点：成都龙之梦大酒店</p>
        <p>规则：国际麻将联盟（MIL）认证的SBR四川麻将竞技规则，3番封顶，自摸加底。</p>
        <big>乐趣四川麻将线上选拔赛时间</big>
        <p>2017年6月25日至2017年7月5日</p>
        <big>乐趣四川麻将线上选拔赛规则</big>
        <p>1：选拔期间玩家在“乐趣四川麻将”游戏中消耗房卡数量；</p>
        <p>2：选拔期间玩家在“乐趣四川麻将”游戏中邀请的玩家消耗房卡数量；</p>

        <p>
            综合以上两个标准在游戏中排名进入 <big class="red">前10者</big>，将代表我司到成都龙之梦大酒店参与“ <big class="red">第二届世界麻将运动会直通赛</big>”，我司将承担此次参与直通赛选手的所有吃住行费用。
        </p>




    <div class="followMe">
        <p>下载“乐趣四川麻将”</p>
        <p>扫描下方二维码下载游戏 </p>
        <img class="wechatQR" src="img/news-9.jpg" alt="">
    </div>
    <div class="followMe">
        <p>更多赛事资料关注公众号</p>
        <p>扫描下方二维码关注公众号 </p>
        <img class="wechatQR"  src="img/news-10.jpg" alt="">
    </div>
    <div class="followMe">
        <p>世界麻将官方公众号</p>
        <p>扫描下方二维码关注公众号</p>
        <img class="wechatQR"  src="img/news-11.jpg" alt="">
    </div>



</div>


