
<div class="detail-wrap" ng-controller="detailController">
    <div class="break-line"></div>
    <div class="detail margin">
        <h3 class="title">
            加入全来游戏推广员
        </h3>
        <p>
            亲爱的小伙伴
            如果...

            20年前你没有抓住下海炒股的机会
            10年前你没有抓住买房做淘宝的机会
            那么现在
            全来游戏可能是你最后的机遇了！
            10多年才出现一次！
            人生创业时期又有几个10年？
            现在开始并不晚
            晚的是
            你总是不敢开始！
            加入全来游戏推广员
            轻松月入过万不是事
        </p>

        <p style="margin-top: 18px;">
            <strong>加入湖南推广员咨询微信</strong>
        </p>
        <ul style="display: inline-flex; margin-top: 18px;justify-content: center;width: 100%">
            <li style="text-align: center">
                <img width="200" src="img/promoter/hunan01.jpg" alt="">
                <p>qlhn08</p>
            </li>
            <li style="text-align: center">
                <img width="200" src="img/promoter/hunan02.jpg" alt="">
                <p>qlhn09</p>
            </li>
            <li style="text-align: center">
                <img width="200" src="img/promoter/hunan03.jpg" alt="">
                <p>quanlaihunan666</p>
            </li>
        </ul>

        <p style="margin-top: 18px;">
            <strong>加入广东推广员咨询微信</strong>
        </p>
        <ul style="display: inline-flex;margin-top: 18px;justify-content: center;width: 100%">
            <li style="text-align: center">
                <img width="200" src="img/promoter/guangdong01.jpg" alt="">
                <p>uumj666</p>
            </li>
            <li style="text-align: center">
                <img width="200" src="img/promoter/guangdong01.jpg" alt="">
                <p>uumj999</p>
            </li>

        </ul>

        <p style="margin-top: 18px;">
            <strong>加入陕西推广员咨询微信</strong>
        </p>
        <ul style="display: inline-flex;margin-top: 18px;justify-content: center;width: 100%">
            <li style="text-align: center">
                <img width="200" src="img/promoter/shanxi01.jpg" alt="">
                <p>xsmj31</p>
            </li>
            <li style="text-align: center">
                <img width="200" src="img/promoter/shanxi02.jpg" alt="">
                <p>xsmj429</p>
            </li>

        </ul>

        <p style="margin-top: 18px;">
            <strong>加入四川推广员咨询微信</strong>
        </p>
        <ul style="display: inline-flex;margin-top: 18px;margin-bottom: 20px;justify-content: center;width: 100%">
            <li style="text-align: center">
                <img width="200" src="img/promoter/sichuan01.jpg" alt="">
                <p>lqmj08</p>
            </li>
            <li style="text-align: center">
                <img width="200" src="img/promoter/sichuan02.jpg" alt="">
                <p>lqmj88</p>
            </li>
        </ul>
    </div>
</div>
