
<div class="container" ng-controller="detailController">
    <div class="break-line"></div>
    <div class="detail margin">
        <h3 class="title">
            【新闻】湖南公共频道全来湖南麻将电视大赛
        </h3>
        <span class="date">2017-07-29</span>
        <img class="margin-auto " src="img/tv-one.jpg" alt="">
        <p>重磅消息！广大湖南麻友赶紧看过来！</p>
        <p>
            我司与<b class="red">湖南公共频道联合举办</b>的“ <b class="red">为你而战全来湖南麻将电视大赛</b>”即将在公共频道黄金时段热播，现在报名 <b class="red">火爆进行中</b>！
        </p>

        <img class="margin-auto" src="img/tv-two.jpg" alt="">
        <big>注意事项</big>
        <p>1、全来湖南麻将为本次比赛唯一线上官方选拔平台。</p>
        <p>2、现场参加比赛的选手从所有玩家中选出。</p>
        <big>报名方式</big>
        <p>1、在全来湖南麻将游戏内点击“ <b class="red">为你而战</b>”参与报名。</p>

        <img class="margin-auto img-auto" src="img/tv-three.jpg" alt="">
        <p>2、关注公众号（QLmajiang） 参与报名</p>
        <p>
            本次大赛每天都会有有4名 <b class="red">全来湖南麻将的玩家参与节目录制</b>
        </p>
        <div class="margin-auto">
            <p> <b class="red">注意哦~是每天 <big>4</big> 名！</b></p>
            <p>打比赛赢大奖　人人都有机会</p>
            <p>也许下一个夺得大奖的就是 <big>你</big>！</p>
        </div>
        <img class="margin-auto" src="img/tv-four.jpg" alt="">
        <big>玩麻将也能做公益</big>
        <p> <b class="red">全来湖南麻将</b>还携手 <b class="red">芒果V基金及湖南公共频道-[帮女郎 帮你忙]</b>节目 <b class="red">共同打造公益大赛</b>，根据比赛积分为贫困家庭及希望小学等公益项目捐款捐物。全来湖南麻将与广大玩家一起倡导公益正能量，传播爱与希望。</p>
        <div class="margin-auto">
            <p>当我们 <big>在一起</big>，就会 <big>了不起</big>。</p>
        </div>

        <p>谁将在本次电视比赛节目中一展风采？</p>
        <p>谁将会是湖南雀神？<br>
        <p>谁又将会跟全来湖南麻将一起点燃公益火把？</p>
        <p>全来湖南麻将与你一起相约“ <b class="red">为你而战电视大赛</b>”</p>



        <div class="followMe margin-auto">
            <p>扫描下方二维码下载游戏 </p>
            <img class="wechatQR" src="img/news-13.png" alt="">
        </div>





</div>


