


    <div class="container" ng-controller="downloadController">
        <!--轮播图-->
        <div class="focusimg clearfix">
            <div class="slides-box">
                <ul class="slides">
                    <li style="background-image: url('img/hunan-banner.jpg')">

                    </li>

                </ul>
            </div>
        </div>


        <!--游戏下载-->
        <div class="load-top margin">
            <div class="top-left clearfix">
            <span class="left fl">
                <img src="./img/hunan-icron.png" alt="">
            </span>
                <span class="right">
                <label>全来湖南麻将</label>
                <label>大小：26.1MB</label>
                <label>下载： 10万次</label>
            </span>
            </div>
            <div class="top-right">
                <h6>选择操作系统下载</h6>
                <button onclick="window.open('https://itunes.apple.com/cn/app/id1211601175')">ios下载</button>
                <button onclick="window.open('http://a.app.qq.com/o/simple.jsp?pkgname=com.quanlai.hunanmj')">Android下载</button>
            </div>
        </div>
        <div class="solid-line"></div>

        <div class="load-middle margin clearfix">
            <div class="middle-left">
                <div class="title">
                    游戏介绍
                </div>
                <p>
                    "《全来湖南麻将》是一款专为湖南本地棋牌爱好者打造的休闲游戏，<br>
                    从规则上全面诠释湖南本地麻将奥义，在背景内容上结合了湘地风情，<br>
                    丰富的自由对战内容让你迅速融入其中。<br>

                    《全来湖南麻将》带您体验正宗地道的湖南麻将，<br>
                    游戏包含了湖南多种经典特色的麻将玩法可以随意选择，快来点击下载体验吧！"
                </p>
            </div>
            <div class="wrap ">
                <div class="middle-right clearfix">
                 <span class="left fl">
                    <img class=" " src="./img/hunan-qr.png" alt="" style="width: 140px;height: 140px;">
                </span>
                    <span class="right">
                    <label>使用手机扫描二维码</label>
                    <label>自动识别手机系统</label>
                    <label>并从手机跳转下载页面</label>
                </span>
                    <img class="scan" src="./img/scan.png" alt="">
                </div>
            </div>
        </div>
        <div class="break-line"></div>
        <div class="load-bottom margin">
            <div class="title">
                游戏截图
            </div>
            <ul class="screenshot">
                <li class="item">
                    <img src="./img/hunan-screen1.jpg" alt="">
                </li>
                <li class="item">
                    <img src="./img/hunan-screen2.jpg" alt="">
                </li>
                <li class="item">
                    <img src="./img/hunan-screen3.jpg" alt="">
                </li>
            </ul>
        </div>
    </div>



