
    <div class="container" ng-controller="aboutController">
        <!--轮播图-->
        <div class="focusimg clearfix">
            <div class="slides-box">
                <ul class="slides">
                    <li style="background-image: url('img/about-us.jpg')">
                        <!--<img src="img/about-us.jpg" alt="">-->
                    </li>
                </ul>
            </div>
        </div>
        <!--内容区-->
        <div class="company margin wow fadeIn" data-wow-duration="1s">
            <div class="brief">
                <span class="title">
                    公司简介
                </span>
                <p>
                    北京善豹科技有限公司是一家集研发、运营、服务为一体的游戏服务提供商，以专业、专注的态度，打造精品游戏；以发展和共赢为宗旨，不断发展和开拓市场。秉持“快乐至上，用户为主”的理念，致力于向用户提供一流体验的游戏产品。在未来，善豹科技将加强全方位业务布局，将不断加大对游戏开发的研究和投入，努力提升游戏产品类型的全面性，游戏产品内容的可玩性和可维护性，使游戏产品能够最大程度满足不同地域不同层面用户的不同口味。我们会以服务为核心，不断完善服务的内容和质量，关注用户的想法和满意度，都始终站在用户一面，从用户角度出发，使我们的服务能够最大程度满足不同观念不同心态用户的不同需求，力争成为全球最优秀的游戏企业之一。
                </p>
            </div>
            <div class="company">
                <span class="title">公司文化</span>
                <div>
                    <p>我们的使命</p>
                    <p>善豹科技致力于打造健康、轻松、益智的休闲文化平台，大力弘扬地方传统文化，推动地方特色游戏向更高的平台发展，为用户创造全方位的快乐。</p>
                    <p>经营理念</p>
                    <p>​​“用户第一，体验为先；众志成城，致和致远。”是公司企业经营理念的表达。</p>
                    <p>企业精神</p>
                    <p>企业精神：正直，诚信，忠诚，拼搏。</p>
                    <p>正直：意味着有勇气坚持自己的信念。敢做敢为，要能够坚持正道，要勇于承认错误。能保有着高贵与正直，内心也能保持快乐和满足。</p>
                    <p>诚信：做人做事，当以诚信为本，信守诺言，言行相符，表里如一。</p>
                    <p>忠诚：忠诚建立信任，忠诚建立亲密。只有忠诚，周围的人才会接近你，对公司来讲意味着你是可托付，可依赖的人。</p>
                    <p>拼搏：意味着尽最大的力量去努力实现自己的目标，唯有不断拼搏才能在竞争激烈的互联网行业中脱颖而出，推动社会的进步。</p>
                </div>
            </div>
        </div>
    </div>




