
<div class="container" ng-controller="gameController">
    <!--轮播图-->
    <div class="focusimg clearfix big-w">
        <div class="slides-box">
            <ul class="slides">
                <li style="background-image: url('img/banner1.jpg')">

                </li>
                <li style="background-image: url('img/banner2.jpg')">

                </li>
            </ul>
        </div>
    </div>
    <!--游戏模块-->
    <div class="title margin">
        <i>火热游戏</i>
    </div>
    <div class="solid-line"></div>
    <ul class="game margin clearfix big-w wow bounceInRight">

        <li class="item clearfix">
            <a ui-sref="download_hn">
                <img class="item-map" src="img/hunan.png" alt="">
                <p>全来湖南麻将</p>
                <p>湖南地区最流行的麻将规则，转转麻将，长沙麻将等每种玩法绝对正宗、特色还原！</p>
                <img class="new" src="./img/new.png" alt="">
                <div class="popover clearfix animated fadeInRight">
                    <span>评分</span>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <span class="red"><b>12万</b>次下载</span>
                    <img src="./img/hunan-qr-sm.png" alt="" class="QRcode">
                    <span>扫描即可下载</span>
                    <button class="download">下载游戏</button>
                </div>
            </a>
        </li>
        <li class="item">
            <a ui-sref="download_gd">
                <img class="" src="img/guangdong.png" alt="" >
                <p>悠悠广东麻将</p>
                <p>经典的广东麻将玩法，简单易上手，特色玩法买马、鬼牌等，另有更多胡牌方式！</p>
                <img class="new" src="./img/new.png" alt="">
                <div class="popover clearfix animated fadeInRight">
                    <span>评分</span>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <span class="red"><b>12万</b>次下载</span>
                    <img src="./img/guangdong-qr-sm.png" alt="" class="QRcode">
                    <span>扫描即可下载</span>
                    <button class="download">下载游戏</button>
                </div>
            </a>
        </li>
        <li class="item">
            <a ui-sref="download_sx">
                <img class="" src="img/shanxi.jpg" alt="" >
                <p>星烁陕西麻将</p>
                <p>最最经典的陕西麻将，特色下炮子玩法、258硬将、清一色、七小对等等！胡到根本停不下来！</p>
                <img class="new" src="./img/new.png" alt="">
                <div class="popover clearfix animated fadeInRight">
                    <span>评分</span>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <span class="red"><b>12万</b>次下载</span>
                    <img src="./img/shanxi-qr-sm.png" alt="" class="QRcode">
                    <span>扫描即可下载</span>
                    <button class="download">下载游戏</button>
                </div>
            </a>
        </li>
        <li class="item" >
            <a ui-sref="download_pdk">
                <img class="" src="img/paodekuai.jpg" alt="" >
                <p>先锋跑得快</p>
                <p>超丰富玩法，想要的都有；全面升级，欢乐依旧；呼朋唤友，熟人娱乐！</p>
                <img class="new" src="./img/new.png" alt="">
                <div class="popover clearfix animated fadeInRight">
                    <span>评分</span>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <span class="red"><b>12万</b>次下载</span>
                    <img src="./img/paodekuai-qr-sm.png" alt="" class="QRcode">
                    <span>扫描即可下载</span>
                    <button class="download">下载游戏</button>
                </div>
            </a>
        </li>
        <li class="item">
            <a ui-sref="download_hain">
                <img class="" src="img/hainan.jpg" alt="" >
                <p>优优海南麻将</p>
                <p>海南地区特有的麻将规则而推出的地方性麻将，玩法简单，计算方便！</p>
                <img class="new" src="./img/new.png" alt="">
                <div class="popover clearfix animated fadeInRight">
                    <span>评分</span>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <span class="red"><b>12万</b>次下载</span>
                    <img src="./img/hainan-qr-sm.png" alt="" class="QRcode">
                    <span>扫描即可下载</span>
                    <button class="download">下载游戏</button>
                </div>
            </a>
        </li>
        <li class="item">
            <a ui-sref="download_sc">
                <img class="" src="img/sc.jpg" alt="" >
                <p>乐趣四川麻将</p>
                <p>四川地区最流行的麻将游戏，特色缺门、刮风下雨，计番等；快来下载体验吧，保证让你爱不释手！</p>
                <img class="new" src="./img/new.png" alt="">
                <div class="popover clearfix animated fadeInRight">
                    <span>评分</span>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <span class="red"><b>11万</b>次下载</span>
                    <img src="./img/sc-qr-sm.png" alt="" class="QRcode">
                    <span>扫描即可下载</span>
                    <button class="download">下载游戏</button>
                </div>
            </a>
        </li>
    </ul>
    <div class="clearfix" style="margin-bottom: 50px"></div>



</div>




