
<div class="container" ng-controller="newsController">
    <!--轮播图-->
    <div class="focusimg clearfix big-w">
        <div class="slides-box">
            <ul class="slides">
                <li style="background-image: url('./img/banner1.jpg')"></li>
                <li style="background-image: url('./img/banner2.jpg')"></li>
            </ul>
        </div>
    </div>
    <!--新闻模块-->
    <ul class="activity margin clearfix">
        <li class="item wow fadeInUp" data-wow-delay="0.5s">
            <img class="news-left" src="./img/go-tv.jpg" alt="">
            <div class="news-right">
                <a ui-sref="tv-game">湖南公共频道全来湖南麻将电视大赛</a>
                <p>2017-07-29</p>
                <p>我司与湖南公共频道联合举办的“为你而战全来湖南麻将电视大赛”即将在公共频道黄金时段热播，现在报名火爆进行中！
                </p>
            </div>
        </li>
        <li class="item wow fadeInUp">
            <img class="news-left" src="./img/WMSG.jpg" alt="" >
            <div class="news-right">
                <a ui-sref="winner">乐趣四川麻将代表选手进入世界麻将运动会直通赛16强</a>
                <p>2017-07-21</p>
                <p>一个振奋人心的消息传来，乐趣四川麻将所有玩家热血沸腾，经过数日的线上选拔最终选拔出一批，“民间高手”代表乐趣四川麻将参加“第二届世界麻将运动会直通赛”，经过数日奋战，我方数位选手最终从初赛脱颖而出，成功获得“世界麻将运动会入场卷”。</p>
            </div>
        </li>
        <li class="item wow fadeInUp" data-wow-delay="1s">
            <img class="news-left" src="./img/WMSG.jpg" alt="">
            <div class="news-right">
                <a ui-sref="platform">第二届世界麻将运动会直通赛乐趣四川麻将线上预选赛正式启动！</a>
                <p>2017-07-10</p>
                <p>第二届世界麻将运动会直通赛即将开幕，北京善豹科技有限公司获得本次赛事授权成为赛事海选平台，我司将选拔“乐趣四川麻将”游戏中综合排名前10名的玩家代表参加本次“第二届世界麻将运动会直通赛”。
                </p>
            </div>
        </li>
        <li class="item wow fadeInUp" data-wow-delay="1.5s">
            <img class="news-left" src="./img/public-good.png" alt="">
            <div class="news-right">
                <a ui-sref="public_good">助力公益，情系湖南</a>
                <p>2017-07-7</p>
                <p>湖南连日以来的暴雨导致多地遭遇洪灾，宁乡等地受灾最为严重。善豹科技一直致力于扎根湖南，作为国内最具影响力的地方棋牌手游企业，全来湖南麻将助力湖南灾后重建公益事业，将总销售收入的10%都将用于湖南抗洪救灾宣传。危难关头人人都可以是公益大使，让我们一起为宁乡加油，一起为湖南加油！
                </p>
            </div>
        </li>

        
    </ul>
</div>
