

    <div class="container" ng-controller="detailController">

        <div class="break-line"></div>

        <div class="detail margin">
            <h3 class="title">
                新闻活动标题
            </h3>
            <span class="date">
            2017-05-20
        </span>
            <p>
                央广网北京2月18日消息（记者吴喆华）据中国之声《新闻纵横》报道，“上船容易下船难”，由于青岛恩利国际船舶代理有限公司经营状况不佳，上级公司申请破产保护，25名中国船员以及部分外籍船员在南美洲的秘鲁近海被滞留，工资被拖欠一年多，其中9名船员在海上已经漂泊超过两年。由于海员证和护照被公司扣留，这些船员无法下船离开。谁来为船员找回家的路？
            </p>
            <img src="./img/news.png" alt="" class="illustration">
            <p>
                今年是26岁的山东临沂船员左振敏在秘鲁近海过的第三个春节。2014年12月，小左毕业后应聘青岛恩利国际船舶代理有限公司，2015年1月14号，他从上海飞往秘鲁上船工作，没想到这一去就难回国。
            </p>
            <p>
                左振敏说：“今年是连续在船上过的第三个年，过年时船上厨房加了几个菜，大家默默的吃饭，没有笑脸，我们已经过够了这种生活，我们想拿到工资早点回家，回到中国。”
            </p>
        </div>

        <div class="followMe">
            <img src="./img/QRcode.png" alt="" class="wechatQR">
            <p>更多给力活动和最新资讯，敬请关注全来游戏！</p>
            <p>游戏官网:http://www.quanlaigame.com</p>
            <p>微信公众号：quanlai888</p>
        </div>
    </div>


